#### Условие 1: 1 задача
###### Скачать файл в уроке
###### Считать данные с помощью pandas
###### Вывести на экран первые 5 строк
###### Посмотреть на описание признаков и на их содержание

In [43]:
import pandas as pd
df = pd.read_csv("kc_house_data.csv", sep = ',', encoding= 'utf-8')
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180.00,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170.00,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770.00,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050.00,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680.00,0,1987,0,98074,47.62,-122.05,1800,7503

#### Условие 2: 2 задача
###### Проведите первичный анализ данных
###### Изучите типы данных
###### Найдите количество пропущенных ячеек в данных
###### Посчитайте основные статистики по всем признакам и поизучайте их
###### Пишите выводы

In [44]:
# df.info()
# df.isna().sum()
pd.options.display.float_format = '{:.2f}'.format
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21611.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00
mean,4580301520.86,540088.14,3.37,2.11,2079.90,15106.97,1.49,0.01,0.23,3.41,7.66,1788.40,291.51,1971.01,84.40,98077.94,47.56,-122.21,1986.55,12768.46
std,2876565571.31,367127.20,0.93,0.77,918.44,41420.51,0.54,0.09,0.77,0.65,1.18,828.13,442.58,29.37,401.68,53.51,0.14,0.14,685.39,27304.18
min,1000102.00,75000.00,0.00,0.00,290.00,520.00,1.00,0.00,0.00,1.00,1.00,290.00,0.00,1900.00,0.00,98001.00,47.16,-122.52,399.00,651.00
25%,2123049194.00,321950.00,3.00,1.75,1427.00,5040.00,1.00,0.00,0.00,3.00,7.00,1190.00,0.00,1951.00,0.00,98033.00,47.47,-122.33,1490.00,5100.00
50%,3904930410.00,450000.00,3.00,2.25,1910.00,7618.00,1.50,0.00,0.00,3.00,7.00,1560.00,0.00,1975.00,0.00,98065.00,47.57,-122.23,1840.00,7620.00
75%,7308900445.00,645000.00,4.00,2.50,2550.00,10688.00,2.00,0.00,0.00,4.00,8.00,2210.00,560.00,1997.00,0.00,98118.00,47.68,-122.12,2360.00,10083.00
max,9900000190.00,7700000.00,33.00,8.00,13540.00,1651359.00,3.50,1.00,4.00,5.00,13.00,9410.00,4820.00,2015.00,2015.00,98199.00,47.78,-121.31,6210.00,871200.00

#### Условие 3: 3 задача
###### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [45]:
df['price'].describe()

count     21613.00
mean     540088.14
std      367127.20
min       75000.00
25%      321950.00
50%      450000.00
75%      645000.00
max     7700000.00
Name: price, dtype: float64

#### Условие 3: 3 задача
###### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [46]:
# Вычисляем среднее значение столбца с жилой площадью
mean_living_area = df['sqft_living'].mean()

# Вычисляем среднее значение столбца с общей площадью
mean_total_area = df['sqft_lot'].mean()

# Вычисляем долю жилой площади от общей площади
living_area_share = mean_living_area / mean_total_area

print('Доля жилой площади от общей площади: {:.2%}'.format(living_area_share))

Доля жилой площади от общей площади: 13.77%

#### Условие 3: 3 задача
###### 3.3 Как много домов с разными этажами в данных?

In [47]:
floor_counts = df['floors'].value_counts()
print('Количество домов с разным количеством этажей:', floor_counts)

Количество домов с разным количеством этажей: floors
1.00    10680
2.00     8241
1.50     1910
3.00      613
2.50      161
3.50        8
Name: count, dtype: int64

#### Условие 3: 3 задача
###### 3.4 Насколько хорошие состояния у домов в данных?

In [48]:
condition_desc = df['condition'].describe()
print('Описание состояний домов:', condition_desc)

Описание состояний домов: count   21613.00
mean        3.41
std         0.65
min         1.00
25%         3.00
50%         3.00
75%         4.00
max         5.00
Name: condition, dtype: float64

#### Условие 3: 3 задача
###### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [49]:
# Находим год постройки первого дома
min_year = df['yr_built'].min()

# Находим год постройки последнего дома
max_year = df['yr_built'].max()

print('Первый дом был построен в', min_year, 'году')
print('Последний дом был построен в', max_year, 'году')

Первый дом был построен в 1900 году
Последний дом был построен в 2015 году

#### Условие 4: 4 задача
###### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [50]:
mean_price = df[df['bedrooms'] == 2]['price'].mean()
print('Средняя цена домов с 2 спальнями:', mean_price)

Средняя цена домов с 2 спальнями: 401372.681884058

#### Условие 4: 4 задача
###### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [51]:
mean_area = df[df['price'] > 600000]['sqft_living'].mean()
print('Средняя общая площадь домов, у которых цена больше 600 000:', mean_area)

Средняя общая площадь домов, у которых цена больше 600 000: 2895.47442455243

#### Условие 4: 4 задача
###### 4.3 Как много домов коснулся ремонт?

In [52]:
num_renovated = df[df['yr_renovated'] == 'True']['id'].count()
print('Количество домов, которые были отремонтированы:', num_renovated)

Количество домов, которые были отремонтированы: 0

#### Условие 4: 4 задача
###### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [53]:
# Находим среднюю стоимость домов с оценкой grade выше 10
mean_price_high_grade = df[df['grade'] > 10]['price'].mean()

# Находим среднюю стоимость домов с оценкой grade меньше 4
mean_price_low_grade = df[df['grade'] < 4]['price'].mean()

# Находим разницу в средней стоимости домов
price_diff = mean_price_high_grade - mean_price_low_grade

print('Разница в средней стоимости домов:', price_diff)

Разница в средней стоимости домов: 1488885.1175298805

#### Условие 5: 5 задача

###### 5.1 Выберите дом клиенту
###### Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [54]:
num_options = df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)].count()['id']
print('Количество вариантов:', num_options)

Количество вариантов: 41

#### Условие 5: 5 задача
###### 5.2 Выберите дом клиенту
###### Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [55]:
# Находим дома согласно параметрам
selected_houses = df[((df['view'] >= 4) | (df['waterfront'] == 1)) & (df['condition'] >= 4) & (df['yr_built'] >= 1980)]

# Определяем ценовой диапазон
price_range = selected_houses['price'].describe()[['min', 'max']]

print('Ценовой диапазон:', price_range)

Ценовой диапазон: min    705000.00
max   5300000.00
Name: price, dtype: float64

#### Условие 5: 5 задача
###### 5.3 Выберите дом клиенту
###### Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [56]:
# Находим дома согласно параметрам
selected_houses = df[(df['floors'] == 2) & (df['price'] <= 150000) & (df['sqft_basement'] == 0)]

# Определяем оценку по состоянию
condition_mean = selected_houses['condition'].mean()

print('Оценка по состоянию для таких домов в среднем:', condition_mean)

Оценка по состоянию для таких домов в среднем: 3.0

#### Условие 5: 5 задача
###### 5.1 Выберите дом клиенту
###### Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [57]:
# Находим дома согласно параметрам
selected_houses = df[(df['waterfront'] == 1) & (
    df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)]

# Определяем количество вариантов
num_options = len(selected_houses)

print('Количество вариантов для клиента:', num_options)

Количество вариантов для клиента: 41

## Урок 3. Изменение таблиц в Pandas

In [58]:
import pandas as pd
df = pd.read_csv("kc_house_data.csv", sep=',', encoding='utf-8')
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180.00,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170.00,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770.00,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050.00,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680.00,0,1987,0,98074,47.62,-122.05,1800,7503

###### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
###### Если реновации дома не было, то в новом признаке поставьте 0

In [59]:
df['delta_renovated'] = df.apply(lambda x: x['yr_renovated'] - x['yr_built'] if x['yr_renovated'] > 0 else 0, axis=1)
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,1180.00,0,1955,0,98178,47.51,-122.26,1340,5650,0
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,2170.00,400,1951,1991,98125,47.72,-122.32,1690,7639,40
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,770.00,0,1933,0,98028,47.74,-122.23,2720,8062,0
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,1050.00,910,1965,0,98136,47.52,-122.39,1360,5000,0
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,1680.00,0,1987,0,98074,47.62,-122.05,1800,7503,0

###### 1.3 Создайте признаки года продажи, месяца продажи

In [60]:
df['date'] = pd.to_datetime(df['date'])  # преобразуем столбец в формат даты

df['year_sold'] = df['date'].dt.year  # создаем признак года продажи
df['month_sold'] = df['date'].dt.month  # создаем признак месяца продажи
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_sold,month_sold
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,1955,0,98178,47.51,-122.26,1340,5650,0,2014,10
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,1951,1991,98125,47.72,-122.32,1690,7639,40,2014,12
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,1933,0,98028,47.74,-122.23,2720,8062,0,2015,2
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,1965,0,98136,47.52,-122.39,1360,5000,0,2014,12
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,1987,0,98074,47.62,-122.05,1800,7503,0,2015,2

###### Удалите признаки date, zipcode, lat, long

In [68]:
# df = df.drop(['date', 'zipcode', 'lat', 'long'], axis=1)
df.head(5)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_sold,month_sold
0,7129300520,221900.00,3,1.00,1180,5650,1.00,0,0,3,7,1180.00,0,1955,0,1340,5650,0,2014,10
1,6414100192,538000.00,3,2.25,2570,7242,2.00,0,0,3,7,2170.00,400,1951,1991,1690,7639,40,2014,12
2,5631500400,180000.00,2,1.00,770,10000,1.00,0,0,3,6,770.00,0,1933,0,2720,8062,0,2015,2
3,2487200875,604000.00,4,3.00,1960,5000,1.00,0,0,5,7,1050.00,910,1965,0,1360,5000,0,2014,12
4,1954400510,510000.00,3,2.00,1680,8080,1.00,0,0,3,8,1680.00,0,1987,0,1800,7503,0,2015,2

#### Условие 2: 2 задача
###### Создайте датафрейм с клиентами:
###### clients = pd.DataFrame({
###### ###### 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
###### 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
###### 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
###### 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
###### 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
###### 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
###### 5083000375, 7920100025, 1951600150, 809001400, 339600110,
###### 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
###### 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
###### 3889100029, 9524100196]})

In [71]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
                  939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
                  2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150, 809001400, 339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                 3889100029, 9524100196]
})

clients

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

###### 2.2 Присоедините к таблице clients данные по домам через метод merge

In [79]:
clients_house = clients.set_index('house_id')
clients_house

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535
1189000207       2308
6821600300       2866
7137950720       2765
9510920050       1472
6131600255       4236
5428000070       2295
1788800910        939
8100400160       3840
3123049142        280
6306800010         20
5083000375       4332
7920100025       3475
1951600150       4213
809001400        3113
339600110        4809
1622049154       2134
1099600250       2242
8563000110       2068
2768100205       4929
3995700435       1384
8861700030       1589
3303980210       3317
7731100066       2260
8146100580       1727
825069097        1764
3889100029       1611
9524100196       1474

In [80]:
df_house = df.set_index('id')
df_house

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_sold,month_sold
id,,,,,,,,,,,,,,,,,,,
7129300520,221900.00,3,1.00,1180,5650,1.00,0,0,3,7,1180.00,0,1955,0,1340,5650,0,2014,10
6414100192,538000.00,3,2.25,2570,7242,2.00,0,0,3,7,2170.00,400,1951,1991,1690,7639,40,2014,12
5631500400,180000.00,2,1.00,770,10000,1.00,0,0,3,6,770.00,0,1933,0,2720,8062,0,2015,2
2487200875,604000.00,4,3.00,1960,5000,1.00,0,0,5,7,1050.00,910,1965,0,1360,5000,0,2014,12
1954400510,510000.00,3,2.00,1680,8080,1.00,0,0,3,8,1680.00,0,1987,0,1800,7503,0,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.00,3,2.50,1530,1131,3.00,0,0,3,8,1530.00,0,2009,0,1530,1509,0,2014,5
6600060120,400000.00,4,2.50,2310,5813,2.00,0,0,3,8,2310.00,0,2014,0,1830,7200,0,2015,2
1523300141,402101.00,2,0.75,1020,1350,2.00,0,0,3,7,1020.00,0,2009,0,1020,2007,0,2014,6
291310100,400000.00,3,2.50,1600,2388,2.00,0,0,3,8,1600.00,0,2004,0,1410,1287,0,2015,1
1523300157,325000.00,2,0.75,1020,1076,2.00,0,0,3,7,1020.00,0,2008,0,1020,1357,0,2014,10

In [81]:
df_house_join = clients_house.join(df_house)
df_house_join.head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_sold,month_sold
house_id,,,,,,,,,,,,,,,,,,,,
339600110,4809,395000.00,3,2.50,1610,3755,2.00,0,0,3,7,1610.00,0,1987,0,1300,3823,0,2014,9
809001400,3113,925000.00,3,1.00,1630,3200,1.50,0,0,4,8,1630.00,0,1912,0,1710,3600,0,2014,9
825069097,1764,770000.00,3,2.50,2650,40705,2.00,0,0,3,9,2650.00,0,1994,0,2550,42625,0,2014,6
1099600250,2242,260000.00,3,1.75,1710,6400,1.00,0,0,4,7,1240.00,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.00,2,2.50,1170,1394,2.00,0,0,3,8,1170.00,0,2001,0,1250,3136,0,2014,10

###### 2.2 Присоедините к таблице clients данные по домам через метод merge
###### Это нужно, чтобы понимать, какие дома покупались клиентами
###### house_id - это индексы датафрейма с домами

In [86]:
merget = df.merge(clients, left_on='id', right_on = 'house_id')
merget.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_sold,month_sold,client_id,house_id
0,8100400160,700000.00,3,2.25,2330,11424,2.00,0,0,4,...,0,1984,0,2050,11448,0,2015,4,3840,8100400160
1,7920100025,450000.00,2,1.00,740,5100,1.00,0,0,4,...,0,1947,0,920,5100,0,2015,4,3475,7920100025
2,825069097,770000.00,3,2.50,2650,40705,2.00,0,0,3,...,0,1994,0,2550,42625,0,2014,6,1764,825069097
3,5083000375,170000.00,3,1.00,1310,9529,1.00,0,0,3,...,0,1956,0,1330,9529,0,2014,10,4332,5083000375
4,5083000375,235000.00,3,1.00,1310,9529,1.00,0,0,3,...,0,1956,0,1330,9529,0,2015,3,4332,5083000375

### Условие 3: 3 задача
###### Составьте несколько сводных таблиц
###### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален
###### Отсортируйте от меньшей стоимости к большей

In [88]:
pivot_table = df.pivot_table(index='bedrooms', values='price', aggfunc='mean')
pivot_table.sort_values('price')

              price
bedrooms
1         317642.88
2         401372.68
0         409503.85
3         466232.08
11        520000.00
4         635419.50
33        640000.00
5         786599.83
10        819333.33
6         825520.64
9         893999.83
7         951184.66
8        1105076.92

###### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [89]:
pivot_table = df.pivot_table(index='condition', values='price', aggfunc=['min', 'mean', 'max'])
pivot_table

                min      mean        max
              price     price      price
condition
1          78000.00 334431.67 1500000.00
2          80000.00 327287.15 2555000.00
3          75000.00 542012.58 7062500.00
4          89000.00 521200.39 7700000.00
5         110000.00 612418.09 3650000.00

###### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [90]:
pivot_table = df.pivot_table(index='waterfront', columns='view', values='id', aggfunc='count')
pivot_table

view              0      1      2      3      4
waterfront
0          19489.00 331.00 955.00 491.00 184.00
1               NaN   1.00   8.00  19.00 135.00

###### 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [91]:
houses_by_floors_and_bedrooms = df.groupby(['floors', 'bedrooms']).count()
houses_by_floors_and_bedrooms

                   id  price  bathrooms  sqft_living  sqft_lot  waterfront  \
floors bedrooms
1.00   0            4      4          4            4         4           4
       1          162    162        162          162       162         162
       2         1951   1951       1951         1951      1951        1951
       3         5455   5455       5455         5455      5455        5455
       4         2383   2383       2383         2383      2383        2383
       5          605    605        605          605       605         605
       6          104    104        104          104       104         104
       7            9      9          9            9         9           9
       8            5      5          5            5         5           5
       10           1      1          1            1         1           1
       33           1      1          1            1         1           1
1.50   1           21     21         21           21        21          21
       2          182    182        182          182       182         182
       3          786    786        786          786       786         786
       4          698    698        698          698       698         698
       5          185    185        185          185       185         185
       6           30     30         30           30        30          30
       7            7      7          7            7         7           7
       8            1      1          1            1         1           1
2.00   0            6      6          6            6         6           6
       1           12     12         12           12        12          12
       2          497    497        497          497       497         497
       3         3118   3118       3118         3118      3118        3118
       4         3682   3682       3682         3682      3682        3682
       5          775    775        775          775       775         775
       6          119    119        119          119       119         119
       7           19     19         19           19        19          19
       8            6      6          6            6         6           6
       9            4      4          4            4         4           4
       10           2      2          2            2         2           2
       11           1      1          1            1         1           1
2.50   1            1      1          1            1         1           1
       2            5      5          5            5         5           5
       3           56     56         56           56        56          56
       4           58     58         58           58        58          58
       5           23     23         23           23        23          23
       6           14     14         14           14        14          14
       7            2      2          2            2         2           2
       9            2      2          2            2         2           2
3.00   0            2      2          2            2         2           2
       1            3      3          3            3         3           3
       2          123    123        123          123       123         123
       3          405    405        405          405       405         405
       4           61     61         61           61        61          61
       5           13     13         13           13        13          13
       6            5      5          5            5         5           5
       7            1      1          1            1         1           1
3.50   0            1      1          1            1         1           1
       2            2      2          2            2         2           2
       3            4      4          4            4         4           4
       8            1      1          1            1         1           1

                 view  condition  grade  sqft_above  sqft_basement  yr_built  \
floors bedrooms
1.00   0            4          4      4           4              4         4
       1          162        162    162         162            162       162
       2         1951       1951   1951        1951           1951      1951
       3         5455       5455   5455        5454           5455      5455
       4         2383       2383   2383        2383           2383      2383
       5          605        605    605         605            605       605
       6          104        104    104         104            104       104
       7            9          9      9           9              9         9
       8            5          5      5           5              5         5
       10           1          1      1           1              1         1
       33           1          1      1           1              1         1
1.50   1           21         21     21          21             21        21
       2          182        182    182         182            182       182
       3          786        786    786         786            786       786
       4          698        698    698         697            698       698
       5          185        185    185         185            185       185
       6           30         30     30          30             30        30
       7            7          7      7           7              7         7
       8            1          1      1           1              1         1
2.00   0            6          6      6           6              6         6
       1           12         12     12          12             12        12
       2          497        497    497         497            497       497
       3         3118       3118   3118        3118           3118      3118
       4         3682       3682   3682        3682           3682      3682
       5          775        775    775         775            775       775
       6          119        119    119         119            119       119
       7           19         19     19          19             19        19
       8            6          6      6           6              6         6
       9            4          4      4           4              4         4
       10           2          2      2           2              2         2
       11           1          1      1           1              1         1
2.50   1            1          1      1           1              1         1
       2            5          5      5           5              5         5
       3           56         56     56          56             56        56
       4           58         58     58          58             58        58
       5           23         23     23          23             23        23
       6           14         14     14          14             14        14
       7            2          2      2           2              2         2
       9            2          2      2           2              2         2
3.00   0            2          2      2           2              2         2
       1            3          3      3           3              3         3
       2          123        123    123         123            123       123
       3          405        405    405         405            405       405
       4           61         61     61          61             61        61
       5           13         13     13          13             13        13
       6            5          5      5           5              5         5
       7            1          1      1           1              1         1
3.50   0            1          1      1           1              1         1
       2            2          2      2           2              2         2
       3            4          4      4           4              4         4
       8            1          1      1           1              1         1

                 yr_renovated  sqft_living15  sqft_lot15  delta_renovated  \
floors bedrooms
1.00   0                    4              4           4                4
       1                  162            162         162              162
       2                 1951           1951        1951             1951
       3                 5455           5455        5455             5455
       4                 2383           2383        2383             2383
       5                  605            605         605              605
       6                  104            104         104              104
       7                    9              9           9                9
       8                    5              5           5                5
       10                   1              1           1                1
       33                   1              1           1                1
1.50   1                   21             21          21               21
       2                  182            182         182              182
       3                  786            786         786              786
       4                  698            698         698              698
       5                  185            185         185              185
       6                   30             30          30               30
       7                    7              7           7                7
       8                    1              1           1                1
2.00   0                    6              6           6                6
       1                   12             12          12               12
       2                  497            497         497              497
       3                 3118           3118        3118             3118
       4                 3682           3682        3682             3682
       5                  775            775         775              775
       6                  119            119         119              119
       7                   19             19          19               19
       8                    6              6           6                6
       9                    4              4           4                4
       10                   2              2           2                2
       11                   1              1           1                1
2.50   1                    1              1           1                1
       2                    5              5           5                5
       3                   56             56          56               56
       4                   58             58          58               58
       5                   23             23          23               23
       6                   14             14          14               14
       7                    2              2           2                2
       9                    2              2           2                2
3.00   0                    2              2           2                2
       1                    3              3           3                3
       2                  123            123         123              123
       3                  405            405         405              405
       4                   61             61          61               61
       5                   13             13          13               13
       6                    5              5           5                5
       7                    1              1           1                1
3.50   0                    1              1           1                1
       2                    2              2           2                2
       3                    4              4           4                4
       8                    1              1           1                1

                 year_sold  month_sold
floors bedrooms
1.00   0                 4           4
       1               162         162
       2              1951        1951
       3              5455        5455
       4              2383        2383
       5               605         605
       6               104         104
       7                 9           9
       8                 5           5
       10                1           1
       33                1           1
1.50   1                21          21
       2               182         182
       3               786         786
       4               698         698
       5               185         185
       6                30          30
       7                 7           7
       8                 1           1
2.00   0                 6           6
       1                12          12
       2               497         497
       3              3118        3118
       4              3682        3682
       5               775         775
       6               119         119
       7                19          19
       8                 6           6
       9                 4           4
       10                2           2
       11                1           1
2.50   1                 1           1
       2                 5           5
       3                56          56
       4                58          58
       5                23          23
       6                14          14
       7                 2           2
       9                 2           2
3.00   0                 2           2
       1                 3           3
       2               123         123
       3               405         405
       4                61          61
       5                13          13
       6                 5           5
       7                 1           1
3.50   0                 1           1
       2                 2           2
       3                 4           4
       8                 1           1

###### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [92]:
house_prices_by_condition_and_grade = df.groupby(['condition', 'grade'])['price'].median()
house_prices_by_condition_and_grade

condition  grade
1          1        142000.00
           4        150000.00
           5        190000.00
           6        255000.00
           7        403500.00
           8        932500.00
2          3        280000.00
           4        145000.00
           5        180000.00
           6        235000.00
           7        305000.00
           8        429000.00
           9        715000.00
           10      1752500.00
3          3         75000.00
           4        205000.00
           5        234475.00
           6        265000.00
           7        357500.00
           8        485000.00
           9        689000.00
           10       890000.00
           11      1209500.00
           12      1807500.00
           13      2888000.00
4          4        238525.00
           5        229975.00
           6        295000.00
           7        390000.00
           8        571250.00
           9        823500.00
           10      1030000.00
           11      1685000.00
           12      2125000.00
           13      5750000.00
5          3        262000.00
           5        227450.00
           6        285475.00
           7        456000.00
           8        696000.00
           9       1078000.00
           10      1650000.00
           11      2050000.00
           12      1990000.00
Name: price, dtype: float64